@font-face {
    font-family: "Great Vibes";
    src: url("../assets/fonts/GreatVibes-Regular.ttf");
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #331f15;
    height: 200vh;
}

.imageContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;

}

.imageContainer > p {
    color: white;
    position: absolute;
    bottom: -5%;
    right: 5%;
    font-weight: bold;
    margin: 0 auto; 
    position: absolute; 
}

h1 {
    color: rgb(245, 234, 214);
    font-family: "Great Vibes", sans-serif ;
    position: absolute;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
    font-size: 9rem;
    background-color:hsla(0, 0%, 0%, 0.600);
    padding: 40px;
    box-shadow: 0 0 10px 15px hsl(0, 0%, 0%, 0.6);
    text-align: center;
    padding-bottom: 35px;
}

.menuCard > img {
    height: 400px;
}

.menuCard {
    border: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: white;
    font-size: 1.7rem;
    margin: 10px;
}

.menuCard > div {
    padding: 1rem 2rem 1rem 2rem;
}

.menuCard > div > button {
    font-size: 1.7rem;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(151, 151, 151);
    outline: 5px solid white;
    font-weight: bold;
}

.menuCardDiv {
    margin-top: 40px;
    border: 1px solid white;
}