@font-face {
    font-family: "Great Vibes";
    src: url("../assets/fonts/GreatVibes-Regular.ttf");
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #331f15;
    height: 200vh;
}

.imageContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;

}

.imageContainer > p {
    color: white;
    position: absolute;
    bottom: -5%;
    right: 5%;
    font-weight: bold;
    margin: 0 auto; 
    position: absolute; 
}

h1 {
    color: rgb(245, 234, 214);
    font-family: "Great Vibes", sans-serif ;
    position: absolute;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
    font-size: 9rem;
    background-color:hsla(0, 0%, 0%, 0.600);
    padding: 40px;
    box-shadow: 0 0 10px 15px hsl(0, 0%, 0%, 0.6);
    text-align: center;
    padding-bottom: 35px;
}