@font-face {
    font-family: "Great Vibes";
    src: url("../assets/fonts/GreatVibes-Regular.otf");
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
}

body {
    background-image: url("../assets/dark-wooden-texture-surface.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    margin-bottom: 30px;
}

.imageContainer {
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;
    background-size: cover;
}

.imageContainer > p {
    color: white;
    position: absolute;
    bottom: -5%;
    right: 5%;
    font-weight: bold;
    margin: 0 auto; 
    position: absolute; 
}

.imageContainer > img {
    width: 100%;
}

h1 {
    color: rgb(245, 234, 214);
    font-family: "Great Vibes", sans-serif;
    position: absolute;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
    font-size: 9rem;
    background-color:hsla(0, 0%, 0%, 0.600);
    padding: 40px;
    box-shadow: 0 0 10px 15px hsl(0, 0%, 0%, 0.6);
    text-align: center;
    padding-bottom: 35px;
}

.menuCard > img {
   width: 700px
}

.menuCard {
    border: 1px solid rgb(255, 255, 255);
    display: grid;
    color: white;
    font-size: 1.7rem;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.432);
}

.card1 {
    grid-template-columns: 1fr 4fr;
}

.card2 {
    grid-template-columns: 4fr 1fr ;
}

.menuCard > div {
    padding: 1rem 2rem 1rem 2rem;
}

.menuCard > div > button {
    font-size: 1.7rem;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(151, 151, 151);
    outline: 5px solid rgb(255, 255, 255);
    font-weight: bold;
}

.menuCardDiv {
    margin-top: 40px;
    border: 1px solid white;
    margin-left: 20px;
    margin-right: 20px;
}

button:hover {
    transform: scale(1.07);
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}